Repository RobinCK/typeorm-fixtures: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, jsonlint -c, yamllint

.lintstagedrc.yml:

"*.{ts,json,md}":
  - prettier --write
  - git add

"*.ts":
  - eslint --fix
  - git add

"*.json":
  - jsonlint -c
  - git add

"*.{yaml,yml}":
  - yamllint
  - git add

refactor(all): update cli, update readme, refactor build, fix class-validator since the update 0.5
  CHANGELOG.md
  README.md
  package.json
  src/Builder.ts
  src/cli.ts
  src/loaders/JsonLoader.ts
  src/loaders/YamlLoader.ts
  src/parsers/EjsParser.ts
  src/parsers/FakerParser.ts
  src/parsers/ParameterParser.ts
  src/parsers/ReferenceParser.ts
  test/unit/Builder.test.ts
  test/unit/assets/processor/UserProcessor.ts
  yarn.lock
Due: prettier --write, eslint --fix, jsonlint -c

ignore decorator of class-validator
  src/Builder.ts
Due: prettier --write, eslint --fix

feat(datasource): use new method to load dataSource
  src/cli.ts
  src/util/createConnection.ts
  src/util/index.ts
Due: prettier --write, eslint --fix

chore: bump version
  package.json
Due: prettier --write, jsonlint -c

chore: use temporary name
  package.json
Due: prettier --write, jsonlint -c

fix(cli): add cli to have esm and cjs mode like typeorm cli
  package.json
  src/cli-ts-node-commonjs.ts
  src/cli-ts-node-esm.ts
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix, jsonlint -c

chore(version): bump version
  package.json
Due: prettier --write, jsonlint -c

refactor(all): update outdated packages, use yargs
  .husky/commit-msg
  .husky/post-commit
  .husky/pre-commit
  .huskyrc.yml
  .lintstagedrc.js
  .lintstagedrc.yml
  .prettierrc.js
  .prettierrc.yml
  package.json
  src/Loader.ts
  src/cli.ts
  src/commands/LoadCommand.ts
  src/loaders/YamlLoader.ts
  test/unit/parsers/FakerParser.test.ts
  yarn.lock
Due: prettier --write, eslint --fix, jsonlint -c, yamllint

fix(chalk): revert to chalk version 4
  package.json
  src/commands/LoadCommand.ts
  yarn.lock
Due: prettier --write, eslint --fix, jsonlint -c

fix(cli): fix yargs arguments
  package.json
  src/cli.ts
  src/commands/LoadCommand.ts
  src/util/fixturesIterator.ts
  yarn.lock
Due: prettier --write, eslint --fix, jsonlint -c

fix: fix call function
  package.json
  src/Builder.ts
  src/commands/LoadCommand.ts
Due: prettier --write, eslint --fix, jsonlint -c

fix(fix): fix call function
  package.json
  src/commands/LoadCommand.ts
Due: prettier --write, eslint --fix, jsonlint -c

docs(help): update Readme and help of cli
  .github/workflows/build.yml
  README.md
  package.json
  src/commands/LoadCommand.ts
  yarn.lock
Due: prettier --write, eslint --fix, jsonlint -c, yamllint

ci(github actions): use offical action for setup node
  .github/workflows/build.yml
Due: yamllint

fix(lint): fix configuration of eslint
  .eslintrc.js
  .github/workflows/build.yml
Due: yamllint

ci(yarn): remove option that doesn't exist in yarn
  .github/workflows/build.yml
Due: yamllint

fix(test): provide new argument ignoreDecorators
  test/unit/Builder.test.ts
Due: prettier --write, eslint --fix

chore: revert package name
  package.json
Due: prettier --write, jsonlint -c

chore(release): 3.0.0 :tada:
  CHANGELOG.md
  package.json
Due: prettier --write, jsonlint -c

fix(builder): fix loads for relation with lazy loading set to true
  package.json
  src/Builder.ts
  test/unit/Builder.test.ts
  test/unit/assets/entity/Listing.ts
  test/unit/assets/entity/Post.ts
  test/unit/assets/entity/User.ts
  test/unit/assets/mock/Connection.ts
  test/unit/assets/mock/ListingRepository.ts
  test/unit/assets/mock/PostRepository.ts
  test/unit/assets/mock/UserRepository.ts
  yarn.lock
Due: prettier --write, eslint --fix, jsonlint -c

fix: amend deprecated faker method
  package.json
  src/parsers/FakerParser.ts
  yarn.lock
Due: prettier --write, eslint --fix, jsonlint -c

chore(release): 3.0.1 :tada:
  CHANGELOG.md
  package.json
Due: prettier --write, jsonlint -c

fix: glob path separator must use '/' on Windows (#203)
  src/Loader.ts
Due: prettier --write, eslint --fix

configure ci for multi-platform
  .github/workflows/build.yml
Due: yamllint

making sure it works
  .github/workflows/build.yml
Due: yamllint

configure lf eol and autocrlf in windows
  .github/workflows/build.yml
Due: yamllint

remove temporally debug code
  .github/workflows/build.yml
Due: yamllint

recover whitespace in the bracket
  .github/workflows/build.yml
Due: yamllint

chore(release): 3.0.2 :tada:
  CHANGELOG.md
  package.json
Due: prettier --write, jsonlint -c

sync load for ts and deep clone object
  src/loaders/TsLoader.ts
  src/loaders/index.ts
  test/unit/Loader.test.ts
  test/unit/Resolver.test.ts
  test/unit/assets/fixtures/User.ts
Due: prettier --write, eslint --fix

use lodash for clone deep
  src/loaders/TsLoader.ts
Due: prettier --write, eslint --fix

chore(release): 3.1.0 🎉
  CHANGELOG.md
  package.json
Due: prettier --write, jsonlint -c

Update README.md
  README.md
Due: prettier --write

chore: improve performance of fixtures iterator
  package.json
  src/util/fixturesIterator.ts
  test/unit/util/fixturesIterator.test.ts
  yarn.lock
Due: prettier --write, eslint --fix, jsonlint -c

fix: use graphs instead
  package.json
  src/util/fixturesIterator.ts
  test/unit/util/fixturesIterator.test.ts
  yarn.lock
Due: prettier --write, eslint --fix, jsonlint -c

chore(release): 4.0.0 :tada:
  .husky/commit-msg
  .husky/post-commit
  .husky/pre-commit
  CHANGELOG.md
  package.json
Due: prettier --write, jsonlint -c

fix: do not create one instance of processor per fixture
  src/Builder.ts
Due: prettier --write, eslint --fix

updated ci config
  .circleci/config.yml
Due: yamllint

chore: bump version
  package.json
  yarn.lock
Due: prettier --write, jsonlint -c

exclure '__call 'au lieu de '__'
  src/Builder.ts
Due: prettier --write, eslint --fix
